
@{
    ViewBag.Title = "submit_order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <h2 dir="rtl">درخواست شما ثبت شد و  @ViewBag.pay انجام میشود. </h2>
        <h4 dir="rtl">شماره درخواست
        @ViewBag.orderid</h4>
    </div>
</div>

